.features-container {
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
}

.features-list__item {
  margin-right: 30px;
  width: 270px;

  &:last-child {
    margin-right: 0px;
  }
}

.features-list__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--our-team-background-color);
  border-radius: 4px;
}

.features-list__item-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.features-list__item-paragraph {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
