.footer-section {
    padding: 60px 0;

    background-color: var(--background-color);
}

.footer.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-section .logo-part {
    color: #ffffff;
}

.adress-list {
    margin-top: 20px;

    font-style: normal;
}

.footer-list-item {
    margin-bottom: 5px;
}

.footer-list-item:last-child {
    margin-bottom: 0;
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover,
.footer-adress:focus {
    color: var(--brand-color);
}

.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--brand-color);
}

.footer-links-title,
.footer-sign-up-title {
    padding-top: 12px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--team-card-background-color);
}

.footer-social-networks.list {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    gap: 10px;
}

.footer-networks-item {
    width: 44px;
    height: 44px;
}

.footer-networks-links {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--team-card-background-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-icon {
    fill: currentColor;
}

.footer-networks-links:hover,
.footer-networks-links:focus {
    background-color: var(--brand-color);
}

.sign-up-form {
    display: inline-flex;
}

.sign-up-form input {
    display: inline-flex;
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    color: var(--team-card-background-color);
    background-color: transparent;
}

.sign-up-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.sign-up-form input:hover,
.sign-up-form input:focus {
    border: 1px solid var(--brand-color);
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: var(--team-card-background-color);
    background-color: var(--brand-color);
    border: 0px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.icon-form-send {
    margin-left: 10px;
    fill: currentColor;
}

.footer.container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}