
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-main);
    background-color: var(--our-team-background-color);
    border-radius: 4px;
    border: none;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-item {
    margin-right: 8px;
}

.filter-list-item:last-child {
    margin-right: 0;
}

.filter-button:hover,
.filter-button:focus {
    color: #ffffff;
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}